

/* animation for image */
.container {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: peachpuff;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
/* End Animation */




  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-right {
    float: right;

    font-family: header-rightFont;
  }
  .header-right a {
    margin: 0px 10px 0px 10px;
    font-size: 20px;
  }
  



@font-face {
    font-family: header-rightFont;
    src: url("TS Block Bold.ttf")
}

.default {
    font-family: headerFont;
    text-decoration: none;
}


/* Parallax Scrolling Section */
.parallax {
  background-image: url("bg.png");

/* Full height here */
height: 1000px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*
.section {
  padding: 50px 0;
}
*/
.parallax h1 {
  color: white;
  text-align: center;
  padding-top: 800px;
  font-size: 15em;
  font-family: sampleFont;
}


/* text for sample balloon name */
.content h1 {

  text-align: center;
  font-size: 300px;
  font-family: nameFont;
}

@font-face {
  font-family: nameFont;
  src: url("SunglasstypepersonaluseBold-Ea7El.otf")
}

@font-face {
  font-family: sampleFont;
  src: url("StiepaserifRegular-rg1EA.otf")
}
